name: Update Screener

on:
  workflow_dispatch:
  schedule:
    - cron: '0 21 * * *'   # elke dag 21:00

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - run: pip install yfinance pandas numpy

      - run: python screener.py

      - run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add index.html
          git diff --cached --quiet && exit 0
          git commit -m "Auto update index"
          git push
